<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title>LogInFormulary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <form #formulario="ngForm" (ngSubmit)="onSubmit(formulario)">

    <ion-list-header>
      <ion-label>Inicio de sesión</ion-label>
    </ion-list-header>


  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input
          type="email"
          name="email"
          [(ngModel)]="usuario.email"
          required
          email>
      </ion-input>
  </ion-item>



  <ion-item class="ion-margin-top">
    <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        type="password"
        name="password"
        [(ngModel)]="usuario.password"
        required
        minlength="6">
      </ion-input>
  </ion-item>


    
  <ion-button
    type="submit"
    expand="block"
    class="ion-margin-top"
    [disabled]="formulario.invalid">
    REGISTRAR
  </ion-button>


  </form>

</ion-content>
