<ion-app>
  <!-- MENÚ LATERAL -->
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/log-in-formulary">
            <ion-label>Formulario Login</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- CONTENIDO PRINCIPAL -->
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
